<!--The content below is only a placeholder and can be replaced.-->

<div style="text-align:center">
  
  <h1>
    Welcome to {{ title }}
  </h1>
 <!-- <img width="200" src=" https://www.bing.com/images/search?view=detailV2&ccid=EIUOy9nz&id=A0ECA54C0EDAFBEB369167B6AE1C9076140D9684&thid=OIP.EIUOy9nz1e3aZN1i3EW_agEsCt&mediaurl=http%3a%2f%2fwww.clipartbest.com%2fcliparts%2fdTr%2f6en%2fdTr6endnc.jpg&exph=752&expw=1300&q=book&simid=607991522193309728&selectedIndex=0">
 -->
</div>
<div id="fullPage">
 <a routerLink="/catalog">Catalog</a>

 <br>

 <br>

 <a routerLink="/user">User</a>
 <br>

 <br>

 <a routerLink="/contact">Contact</a>

 <!-- <app-user></app-user>
  <app-catalog></app-catalog> -->

  <router-outlet></router-outlet>
</div>